<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--adminLTE-->
    <link rel="stylesheet" th:href="@{/adminlte/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/css/ionicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/dist/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/dist/css/skins/_all-skins.min.css}" />
    <link rel="stylesheet" th:href="@{/adminlte/lib/ionicons/2.0.1/css/ionicons.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/adminlte/dist/css/index.css}" />

    <!--===========================================分隔符=================================================-->

    <!--jquery-->
    <script th:src="@{/js/jquery-2.1.4.min.js}"></script>
    <!--adminLTE-->
    <script th:src="@{/adminlte/dist/js/app.min.js}"></script>
    <script th:src="@{/adminlte/dist/js/demo.js}"></script>
    <script th:src="@{/adminlte/bootstrap/js/bootstrap.min.js}"></script>

    <!--========================================插件===========================================-->
    <!--layer-->
    <script th:src="@{/layer/layer.js}" type="text/javascript"></script>
    <!-- ztree -->
    <link rel="stylesheet" th:href="@{/jquery-ztree/3.5.12/css/zTreeStyle/zTreeStyle.css}"/>
    <script type="text/javascript" th:src="@{/jquery-ztree/3.5.12/js/jquery.ztree.core-3.5.js}"></script>

    <!-- element ui -->
    <link rel="stylesheet" th:href="@{/vue/index.css}">
    <script th:src="@{/vue/vue.min.js}" type="text/javascript"></script>
    <script th:src="@{/vue/index.js}" type="text/javascript"></script>
    <script th:src="@{/vue/vue-resource.js}" type="text/javascript"></script>

</head>
</html>