<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/adminlte/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/css/ionicons.min.css}"/>
    <link rel="stylesheet" th:href="@{/adminlte/dist/css/AdminLTE.min.css}"/>

    <script th:src="@{/js/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/adminlte/bootstrap/js/bootstrap.min.js}"></script>
</head>
</html>