<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="/fragments/commonHeader :: head"></head>
<body>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <form>
                <table class="table table-bordered table-striped">
                    <tbody>
                    <tr>
                        <td width="200px" class="text-right">原密码</td>
                        <input type="hidden" name="id" id="id"
                               th:value="*{model.id}"/>
                        <td><input type="password" style="width:300px" placeholder="请填写原密码"
                                   name="pwd"/></td>
                    </tr>
                    <tr>
                        <td class="text-right">新密码</td>
                        <td><input type="password" style="width:300px" placeholder="请填写6-14位新密码"
                                   name="newPwd"/></td>
                    </tr>
                    <tr>
                        <td class="text-right">确认新密码</td>
                        <td><input type="password" style="width:300px" placeholder="请再次填写新密码"
                                   name="reNewPwd"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="text-left">
                            <button type="submit" class="btn btn-primary">保存</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function () {
        $("form").submit(function (e) {
            e.preventDefault();
            $.post("modifyPwd", $('form').serialize(), function (a, b) {
                if (a == true) {
                    layer.open({
                        title: 'notice',
                        content: '密码修改成功',
                        end: function () {
                            layer.open({
                                title: 'notice',
                                content: '请重新登录',
                                end: function () {
                                    window.location.href = "/";
                                }
                            });
                        }
                    });
                } else {
                    layer.alert(a.msg);
                    return false;
                }
            });
            return false;
        });
    });
</script>
</body>
</html>