<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <head th:replace="/fragments/loginHeader :: head"></head>
</head>
<body class="hold-transition register-page"
      style="background-image: url(/img/blue.png); background-size: 100%">
<div class="register-box">
    <div class="register-logo">
        <b>设备报备系统</b>
    </div>
    <div class="register-box-body">
        <p class="register-box-msg">注册成功,您的请求会以邮件方式发送给管理员,请耐心等待管理员进行审核
            <a href="/" class="text-center"><span class="glyphicon glyphicon-home"></span>Home</a>
        </p>
    </div>
</div>
</body>
</html>
