<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coocaa.element.core.dao.manage.OperateLogMapper">
    <resultMap type="com.coocaa.element.core.model.manage.OperateLog" id="operateLogResultMap">
        <id property="id" column="id"/>
        <result property="operator" column="operator"/>
        <result property="operation" column="operation"/>
        <result property="operateBefore" column="operate_before"/>
        <result property="operateAfter" column="operate_after"/>
        <result property="status" column="status"/>
        <result property="operateTime" column="operate_time"/>
        <result property="operateIp" column="operate_ip"/>
    </resultMap>
    <sql id="sql1">`id`, `operator`, `operation`, `operate_before`, `operate_after`, `status`, `operate_time`,`operate_ip`</sql>

    <select id="findBy" resultMap="operateLogResultMap" parameterType="HashMap">
        SELECT
        <include refid="sql1"/>
        FROM `sys_operate_log`
        <trim prefixOverrides="and" prefix="WHERE">
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="operator != null">
                and operator = #{operator}
            </if>
            <if test="operation != null">
                and operation = #{operation}
            </if>
            <if test="operateBefore != null">
                and operate_before = #{operateBefore}
            </if>
            <if test="operateAfter != null">
                and operate_after = #{operateAfter}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="operateIp != null">
                and operate_ip = #{operateIp}
            </if>
        </trim>
        <choose>
            <when test="orderBy == null">
                ORDER BY id DESC
            </when>
            <otherwise>
                ORDER BY ${orderBy}
            </otherwise>
        </choose>
    </select>
    <select id="countBy" resultType="Integer" parameterType="HashMap">
        SELECT COUNT(*)
        FROM `sys_operate_log`
        <trim prefixOverrides="and" prefix="WHERE">
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="operator != null">
                and operator = #{operator}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </trim>
    </select>
    <select id="getEntityById" parameterType="Integer" resultMap="operateLogResultMap">
        SELECT
        <include refid="sql1"/>
        FROM `sys_operate_log`
        WHERE id = #{id}
    </select>
    <insert id="insert" parameterType="com.coocaa.element.core.model.manage.OperateLog" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO `sys_operate_log` (
        <trim suffix=")" suffixOverrides=",">
            <if test="operator != null">operator,</if>
            <if test="operation != null">operation,</if>
            <if test="operateBefore != null">operate_before,</if>
            <if test="operateAfter != null">operate_after,</if>
            <if test="status != null">status,</if>
            <if test="operateTime != null">operate_time,</if>
            <if test="operateIp != null">operate_ip,</if>
        </trim>
        values (
        <trim suffix=")" suffixOverrides=",">
            <if test="operator != null">#{operator},</if>
            <if test="operation != null">#{operation},</if>
            <if test="operateBefore != null">#{operateBefore},</if>
            <if test="operateAfter != null">#{operateAfter},</if>
            <if test="status != null">#{status},</if>
            <if test="operateTime != null">#{operateTime},</if>
            <if test="operateIp != null">#{operateIp},</if>
        </trim>
        <selectKey resultType="Integer" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <update id="update" parameterType="com.coocaa.element.core.model.manage.OperateLog">
        UPDATE `sys_operate_log`
        <set>
            <if test="operator != null">`operator` = #{operator},</if>
            <if test="operation != null">`operation` = #{operation},</if>
            <if test="operateBefore != null">`operate_before` = #{operateBefore},</if>
            <if test="operateAfter != null">`operate_after` = #{operateAfter},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="operateTime != null">`operate_time` = #{operateTime},</if>
            <if test="operateIp != null">`operate_ip` = #{operateIp},</if>
        </set>
        WHERE id = #{id}
    </update>
    <delete id="delete" parameterType="Integer">
		DELETE FROM `sys_operate_log`
		WHERE id = #{id}
	</delete>
</mapper>



