<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="/fragments/commonHeader :: head"></head>
<body>
<section class="content">
    <div id="app">
        <el-input placeholder="输入关键字进行过滤" v-model="filterText"></el-input><br/><br/>

        <el-tree class="filter-tree" :data="treeData" :props="defaultProps" default-expand-all
                 :filter-node-method="filterNode" ref="tree">
        </el-tree>
    </div>
</section>
<script type="text/javascript">
    $(function () {
        var app = new Vue({
            el: "#app",
            data: {
                filterText: '',
                treeData: [
                    {
                        id: 1,
                        label: '一级 1',
                        children: [{
                            id: 4,
                            label: '二级 1-1',
                            children: [{
                                id: 9,
                                label: '三级 1-1-1'
                            }, {
                                id: 10,
                                label: '三级 1-1-2'
                            }]
                        }]
                    }, {
                        id: 2,
                        label: '一级 2',
                        children: [{
                            id: 5,
                            label: '二级 2-1'
                        }, {
                            id: 6,
                            label: '二级 2-2'
                        }]
                    }, {
                        id: 3,
                        label: '一级 3',
                        children: [{
                            id: 7,
                            label: '二级 3-1'
                        }, {
                            id: 8,
                            label: '二级 3-2'
                        }]
                    }
                ],
                defaultProps: {
                    children: 'children',
                    label: 'label'
                }
            },
            watch: {
                filterText(val) {
                    this.$refs.tree.filter(val);
                }
            },
            methods: {
                filterNode(value, data) {
                    if (!value) return true;
                    return data.label.indexOf(value) !== -1;
                }
            }
        });

    });
</script>
</body>
</html>